<%- include('./partials/head', { pageClass: 'page--main' }); -%>

<h1>
    <%- include('./partials/icon', { name: 'arrow' }); %>
    COMPONENT 1
</h1>

<h1>
    COMPONENT 2
</h1>

<%- include('./partials/footer'); -%>