<%- include('./partials/head', {pageClass: 'page--error'}); -%>
<%
  const {
    errorCode = '404'
  } = locals || {}
%>

<div class="error-page">
  <div class="error-page__code">
    <h1 class="error-page__code-label">
      <%= errorCode %>
    </h1>
  </div>
  <div class="error-page__footer">
    <a href="/" class="error-page__link">
      <span class="error-page__link-label">Go to main page</span>
      <span class="error-page__link-icon">
        <%- include('./partials/icon', {name: 'arrow'}); %>
      </span>
    </a>
  </div>
</div>


<%- include('./partials/footer'); -%>
