<%- include('./partials/head', { pageClass: 'page--main' }); -%>

<h1>
    <%- include('./components/animated-text'); %>
    COMPONENT 1
</h1>

<h1>
    COMPONENT 2
</h1>

<%- include('./partials/footer'); -%>