<div class="item">
  <div class="item__title">
    This is a animate mulitline text, just hover me! This is a animate mulitline text, just hover me!This is a animate mulitline text, just hover me! This is a animate mulitline text, just hover me!
    <div 
         class="item__multiline" 
         data-title="This is a animate mulitline text, just hover me! This is a animate mulitline text, just hover me!This is a animate mulitline text, just hover me! This is a animate mulitline text, just hover me!">
    </div>
  </div>
</div>


- визитка под ключ
- форма обратной связи
- оформление зеленого цвета

- фронт
- бэк + БД
- админка + БД
- домен, сервак
